<template>
  <div class="container lg:container-lg mx-auto">
    <div class="flex justify-center">
      <img alt="Vue logo" src="../assets/logo.png">
    </div>
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <section class="py-4 grid grid-cols-4 gap-2 md:gap-4 md:gap-y-8">
      <article class="col-span-full md:col-span-2 bg-emerald-50 pb-5 drop-shadow-lg rounded-md" v-for="(book, index) in books" :key="index">
        <figure>
          <img class="max-h-80 w-full aspect-square rounded-t-md" :src="book.cover_image" :alt="`book.title picture`">
        </figure>
        <h2 class="mt-4 mb-3 text-xl font-bold">{{ book.title }}</h2>
        <div class="flex px-4">
          <p>{{ book.edition }}</p>
          <p v-for="(author, i) in book.author" :key="i" >Autor: {{ author.first_name }} {{ author.last_name }} </p>
        </div>
        <p class="px-5">{{ book.genders.join(' - ') }}</p>
        <p v-for="(editorial, i) in book.editorial" :key="i"> {{editorial}} </p>
      </article>
    </section>
    <button @click="authorCompleteName()">authors</button>

  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'HomeView',
  components: {
    HelloWorld
  },
  data: () => ({
    authorName: '',
    allGenders: []
  }),
  computed: {
    ...mapState(['books', 'authors']),
    // authorCompleteName() {
    //   return this.books.map(names => {
    //     let firstName = names.author.first_name
    //     console.log(firstName)
    //   })
    // }
  },
  methods: {
    ...mapActions(['getBooksList', 'getNamesAuthors']),
    authorCompleteName() {
      this.books.map(book => {
        book.author
        console.log(book.author);
      });
    }
    
  },
  created() {
    this.getBooksList()
    this.getNamesAuthors()
  },
}
</script>
